.tags {

}

.tag-container {
    padding: 0.5em 0.9em !important;
}

.tag-item {
	color: lighten(@gray-light, 20%);
	padding: .2em .2em .2em .2em;
	font-size: 65%;
	text-transform: uppercase;
	color: #999;
	font-weight: 700;
	white-space: nowrap;
}

.tag-topic-count-row {
	margin-top: 0.3em;
	margin-bottom: .3em;
    border-bottom: .1em solid #e6e6e6;
    padding-bottom: 0.8em;
}

.tag-topic-count {
	color: lighten(@brand-primary, 20%);
	// padding: 0em 0.4em 0.1em;
	font-size: 85%;
	font-weight: 400;
	white-space: nowrap;
	border-left: none;
}